.container {
    background: white;
    padding: 100px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(/bg.jpg);
    background-size: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 15px;
    
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font: 5px;
    font-weight: bold;


}
    
label {
    display: block;
    margin: 10px 0 5px;
}

#nomor {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
}

#nama {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#alamat {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Gender {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;

}

select {
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: green;
}

