body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

table {
    border-collapse: collapse;

}

.container {
    width: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    border-collapse: ;
    margin-top: 5px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



tr:nth-child(even) {
    background-color: #f9f9f9;
}

th[rowspan] {
    vertical-align: middle;
}

@media (max-width: 700px) {
    table {
        font-size: 12px;
    }
    th, td {
        padding: 6px;
    }
}