body {
    font-family: Arial,sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.category {
    color: gray;
    font-size: 14px;
    text-align: center;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h1 .highlight {
    font-weight: bold;
    text-align: center;

}

.author {
    font-size: 14px;
    color: gray;
    text-align: center;
}

.table-of-contents h2 {
    font-size: 18px;
    color: black;
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
}

.table-of-contents ul li {
    margin: 5px 0;
}

.table-of-contents ul li a {
    text-decoration: none;
    color: blue;
}

h2 {
    font-size: 22px;
    color: black;
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #333;
}

.first-letter {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

strong {
    font-weight: bold;
    color: black;
}
